@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    .HOT
    {
        background-color:antiquewhite;
        height:fit-content;
        width:fit-content;
        display:flex;


    }
    .HOT-Article 
    {
       
        display:flex;
       
    }
    .SPH {
        color: orangered;
        text-decoration: none;
        font-size:20px;
        font-weight:30;
    }
    .XSP
    {
        text-decoration:none;
        color:deepskyblue;
        float:right;
        align-content:center;
    }
</style>
<section class="HOT">
    <article class="HOT-Article">
        <a href="#" class="SPH"> Sản phẩm HOT</a>
        <a href="#" class="XSP">Xem ... sản phẩm</a>

    </article>
</section>